/* =============================== */
/* =============AGENDA============ */
/* =============================== */


/* ============BODY=============== */
.body-agenda {
  margin: 0;
}
/* ============HEADER============= */
.header-agenda {
  background-image: url(images/background-agenda.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#div-one {
  width: 25%;
  display: flex;
  text-align: center;

}
#div-one a {
  text-decoration: none;
}
#div-one a:any-link {
  color: black;
}
#div-one h1 {
  font-size: 30px;
  text-align: center;
  align-items: center;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.603);
  border: 2px solid black;
  transition: all 250ms;
  outline-color: rgba(255, 0, 0, 0);
  outline-style: solid;
  outline-width: thin;
  outline-offset: -5px;
}
#div-one h1:hover {
  outline-color: rgb(0, 0, 0);
  outline-style: solid;
  outline-width: thick;
  outline-offset: -5px;
  background-color: rgb(255, 255, 255);
  outline-offset: 10px;
}
#div-two {
  display: flex;
}
#div-two h1 {
  text-decoration: none;
  width: 500px;
  padding: 20px 0;
  margin: 40px auto;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.678);
  text-align: center;
}
.a-agenda a {
  border: 2px solid darkblue;
}

/* ============TABLE============== */
table, th, td {
    border: 1px solid black;
}
table, td {
    border-collapse: collapse;
}
.days {
  width:120px;
}
.hours {
  border-bottom: none;
}
th.half-hours {
  border-top: none;
  text-align: right;
  font-size: 10px;
  font-weight: lighter;
}
td.half-hours{
  border-top: 1px dashed black;
}
td {
  border-bottom: none;
  padding-left: 0 8px;
}
th {
  height: 50px;
}
col:nth-child(odd) {
background-color: rgba(202, 199, 199, 0.397);
}
li {
  margin-bottom: 5px;
  list-style-type: square;
}
.place {
  font-style: italic;
}
.event-object {
  font-weight: bold;
}
.days {
  width: 180px;
  position: sticky;
  top: 0;
  height: 50px;
  background-color: darkgray;
  color: white;
  font-size: 25px;
  padding: 0 5px;
  border: 1px solid black;
}
.days-number [th]{
  border: none;
  background-color: white;
}
td {
  padding: 5px 5px;
  border-bottom: none;
}
.lowest-part {
  border-bottom: 1px solid black;
}
.title {
  font-weight: bold;
}



/* =======VISUAL-INTERACTIONs========= */

.event {
  border-radius: 0 30px;
  outline: rgba(255, 0, 0, 0) solid thin;
  outline-offset: 0;
  transition: all 250ms;
}
.event:hover {
  border-radius: 0;
  font-size: 20px;
  outline-offset: -7px;
  outline: rgb(255, 255, 255) solid 3px;
}
.familly {
  background-color: rgba(243, 113, 99, 0.788);
}
.work {
  background-color: rgba(0, 191, 255, 0.692); 
}
/* ============FOOTER=============== */
.footer-both p {
  width: auto;
  margin: 15px auto;
  text-align: center;
}
#footer-form {
  color: white;
}

/* ================================= */
/* ==========FORMULAIRE============= */
/* ================================= */

.body-form {
  /* font-family: 'Playfair Display', serif; */

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 0;
  background: url(images/agenda-stylo.2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-form {
  font-family: "Playfair Display", serif;

  text-align: center;
  background: rgba(192, 192, 192, 0.596);
}
.form-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(224, 224, 224, 0.877);
  box-shadow: 4px -4px 1px 1px rgba(0, 0, 0, 0.315);
  width: 50%;
  margin: 50px auto;
}
.form-form label {
  margin-top: 20px;
}
.form-form input, .form-form select, .form-form option {
  height: 30px;
}
.form-form input {
  margin: 20px 0;
  padding-left: 15px;
}
.fieldset-form {
  margin: 0;
  margin-top: 20px;
  border: 2px solid black;
}
label {
  width: 200px;
  display: inline-block;
}
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input, textarea, select {
  outline-color: rgba(42, 195, 255, 0);
  outline-style: solid;
  outline-width: medium;
  outline-offset: -10px;
  transition: all 300ms;
}
input:hover, select:hover, textarea:hover {
  cursor: pointer;
  outline-color: rgba(42, 195, 255, 0.966);
  outline-style: solid;
  outline-width: medium;
  outline-offset: 0;
}